html
  head
    title Simple template
  body
    main
      h2 Latest Recipes
      div.recipe
        h3 Banana Bread
        p Moist banana bread with walnuts and cinnamon.
      div.recipe
        h3 Sourdough Loaf
        p Traditional sourdough with a crunchy crust.
